
<div class="hero-unit">
  <h1>Welcome to Plymlet!</h1>
  <h2>We are an online language learning platform.</h2>
  <h3>Our approach is threefold:</h3>
  <div class="ul-container">
    <ul>
      <li>Discover and organize what you know</li>
      <li>Match you with content appropriate for your level</li>
      <li>Connect you with content authors, teachers, and other students</li>
    </ul>  
</div>
<div class="center container">
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
