<% provide(:title, "My Profile") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
      </h1>
    </section>
  </aside>
  <div class="ul-container">
    <ul>
      <li>Email: <%= @user.email %></li>
      <% if @user == current_user %>
        <li><%= link_to "Edit User Information", edit_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</div>
